<footer class="m-grid__item		m-footer " style="margin-left:0px;">
    <div class="m-container m-container--fluid m-container--full-height m-page__container">
        <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
            <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
                <span class="m-footer__copyright">
                    2018 &copy; 苏ICP备18046882号
                </span>
            </div>
            <div class="m-stack__item m-stack__item--right m-stack__item--middle m-stack__item--first">
                <ul class="m-footer__nav m-nav m-nav--inline m--pull-right">
                    <li class="m-nav__item">
                        <a href="javascript:;" class="m-nav__link">
                            <span class="m-nav__link-text">
                                关于本站
                            </span>
                        </a>
                    </li>
                    <li class="m-nav__item">
                        <a href="javascript:;"  class="m-nav__link">
                            <span class="m-nav__link-text">
                                联系我们 【 wb_gynwy@sina.com 】
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>