<header id="m_header" class="m-grid__item  m-header header_background_color"  m-minimize-offset="200" m-minimize-mobile-offset="200" >
    <div class="m-container m-container--fluid m-container--full-height">
        <div class="m-stack m-stack--ver m-stack--desktop">
            <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
                <!-- BEGIN: Horizontal Menu -->
                <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-dark " id="m_aside_header_menu_mobile_close_btn">
                    <i class="la la-close"></i>
                </button>
                <div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-dark m-aside-header-menu-mobile--submenu-skin-dark "  >
                    <ul class="m-menu__nav  m-menu__nav--submenu-arrow ">
                        <li style="width:200px;" class="m-menu__item  m-menu__item--submenu m-menu__item--rel"  m-menu-submenu-toggle="click" m-menu-link-redirect="1" aria-haspopup="true">
                             <a  href="javascript:;" class="m-menu__link m-menu__toggle">
                                <img alt="" src="/static/assets/demo/default/media/img/logo.png" style="width:100%;margin-top:12px;">
                            </a>
                        </li>
                        <li style="width:40%" class="m-menu__item  m-menu__item--submenu m-menu__item--rel"  m-menu-submenu-toggle="click" m-menu-link-redirect="1" aria-haspopup="true">
                            <div class="col-lg-12">
                                <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
                                        <div class="m-portlet__body">
                                            <div class="form-group m-form__group row">
                                                <div class="col-lg-8">
                                                    <input type="text" id="wc_or_zs_name_id" class="form-control m-input" placeholder="请输入物产名或来源志书">
                                                </div>
                                                <div class="col-lg-4">
                                                     <button type="button" id="single_search_btn_id" class="btn btn-outline-success" style="color:#f6f0f0">
                                                        搜索
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                            </div>
                        </li>
                        <li style="width:200px;" class="m-menu__item  m-menu__item--submenu m-menu__item--rel"  m-menu-submenu-toggle="click" m-menu-link-redirect="1" aria-haspopup="true">
                            <a href="javascript:;" class="m-menu__link m-menu__toggle">
                                <i class="m-menu__link-icon flaticon-search-1"></i>
                                <span class="m-menu__link-text" style="color:#f6f0f0">
                                    高级搜索
                                </span>
                                <i class="m-menu__hor-arrow la la-angle-down"></i>
                                <i class="m-menu__ver-arrow la la-angle-right"></i>
                            </a>
                            
                            <div class="m-menu__submenu  m-menu__submenu--fixed m-menu__submenu--left" style="width:1000px">
                                <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                                <div class="m-menu__subnav">
                                    <ul class="m-menu__content">
                                        <li class="m-menu__item">
                                            <h3 class="m-menu__heading m-menu__toggle">
                                                <span class="m-menu__link-text">
                                                    高级搜索
                                                </span>
                                                <i class="m-menu__ver-arrow la la-angle-right"></i>
                                            </h3>
                                            <ul class="m-menu__inner">
                                                <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                                                    <div class="form-group m-form__group row">
                                                        <label class="col-lg-2 col-form-label header_tag_float_right">
                                                            物产名:
                                                        </label>
                                                        <div class="col-lg-4">
                                                            <input type="text" id="name_id" class="form-control m-input" placeholder="请输入物产名">
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                                                    <div class="form-group m-form__group row">
                                                        <label class="col-lg-2 col-form-label header_tag_float_right" >
                                                            时间区域:
                                                        </label>
                                                        <div class="col-lg-2">
                                                            <div class="input-group date">
                                                                <input type="text" id="year_start_id" class="form-control m-input"  placeholder="开始年份"/>
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">
                                                                        <i class="la la-calendar-check-o"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <div class="input-group date">
                                                                <input type="text" id="year_end_id" class="form-control m-input"  placeholder="结束年份"/>
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">
                                                                        <i class="la la-calendar-check-o"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                                                    <div class="form-group m-form__group row">
                                                        <label class="col-lg-2 col-form-label header_tag_float_right" >
                                                            来源志书:
                                                        </label>
                                                        <div class="col-lg-4">
                                                            <input type="text" id="source_lc" class="form-control m-input" placeholder="请输入来源志书">
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                                                    <div class="form-group m-form__group row">
                                                        <label class="col-lg-2 col-form-label header_tag_float_right">
                                                            行政区域:
                                                        </label>
                                                        <div class="col-lg-4">
                                                            <input type="text" id="yn_region_id" class="form-control m-input" placeholder="请输入行政区域">
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                                                    <div class="form-group m-form__group row">
                                                        <div class="col-lg-8" style="text-align:center;margin-top:20px;">
                                                            <button type="button" id="advanced_seache_btn_id" class="btn btn-outline-success">
                                                                确定
                                                            </button>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li style="width:200px;" class="m-menu__item  m-menu__item--submenu m-menu__item--rel"  m-menu-submenu-toggle="click" m-menu-link-redirect="1" aria-haspopup="true">
                            <a href="javascript:;" class="m-menu__link m-menu__toggle">
                                <i class="m-menu__link-icon flaticon-graphic-2"></i>
                                <span class="m-menu__link-text" style="color:#f6f0f0">
                                    统计
                                </span>
                                <i class="m-menu__hor-arrow la la-angle-down"></i>
                                <i class="m-menu__ver-arrow la la-angle-right"></i>
                            </a>
                        </li>
                        <li></li>
                    </ul>
                </div>
                <!-- END: Horizontal Menu -->								
            </div>
        </div>
    </div>
</header>