<div class="dataTables_wrapper">
    <div class="dataTables_paginate paging_full_numbers" id="m_table_1_paginate">
        <ul class="pagination">
            <li class="paginate_button page-item first disabled" id="m_table_1_first">
                <a href="#" data-dt-idx="0" class="page-link">
                    <i class="la la-angle-double-left"></i>
                </a>
            </li>
            <li class="paginate_button page-item previous disabled" id="m_table_1_previous">
                <a href="#" data-dt-idx="1" class="page-link">
                    <i class="la la-angle-left"></i>
                </a>
            </li>
            <li class="paginate_button page-item active">
                <a href="javascript:;" data-dt-idx="2" class="page-link">
                    1
                </a>
            </li>
            <li class="paginate_button page-item ">
                <a href="javascript:;" data-dt-idx="3" class="page-link">
                    2
                </a>
            </li>
            <li class="paginate_button page-item ">
                <a href="javascript:;" data-dt-idx="4" class="page-link">
                    3
                </a>
            </li>
            <li class="paginate_button page-item ">
                <a href="javascript:;" data-dt-idx="5" class="page-link">
                    4
                </a>
            </li>
            <li class="paginate_button page-item ">
                <a href="javascript:;" data-dt-idx="6" class="page-link">
                    5
                </a>
            </li>
            <li class="paginate_button page-item next" id="m_table_1_next">
                <a href="javascript:;" class="page-link">
                    <i class="la la-angle-right"></i>
                </a>
            </li>
            <li class="paginate_button page-item last" id="m_table_1_last">
                <a href="javascript:;" class="page-link">
                    <i class="la la-angle-double-right"></i>
                </a>
            </li>
        </ul>
    </div>
</div>