<div class="dataTables_wrapper" style="display: none">
    <div class="dataTables_paginate paging_full_numbers" id="m_table_1_paginate">
        <ul class="pagination">
            <li id="page_data_info_id" style="margin-top:auto;margin-bottom: auto; margin-right: 30px;font-weight: bold;">
                共*条，当前页面从 1 条至 * 条
            </li>
            <li class="paginate_button page-item first disabled" id="m_table_1_first">
                <a href="#"  class="page-link">
                    <i class="la la-angle-double-left"></i>
                </a>
            </li>
            <li class="paginate_button page-item previous disabled" id="m_table_1_previous">
                <a href="#"  class="page-link">
                    <i class="la la-angle-left"></i>
                </a>
            </li>
            <li class="paginate_button page-item page_num active">
                <a href="javascript:;" data-dt-idx="1" class="page-link">
                    1
                </a>
            </li>
            <li class="paginate_button page-item page_num">
                <a href="javascript:;" data-dt-idx="2" class="page-link">
                    2
                </a>
            </li>
            <li class="paginate_button page-item page_num">
                <a href="javascript:;" data-dt-idx="3" class="page-link">
                    3
                </a>
            </li>
            <li class="paginate_button page-item page_num">
                <a href="javascript:;" data-dt-idx="4" class="page-link">
                    4
                </a>
            </li>
            <li class="paginate_button page-item page_num">
                <a href="javascript:;" data-dt-idx="5" class="page-link">
                    5
                </a>
            </li>
            <li class="paginate_button page-item next" id="m_table_1_next">
                <a href="javascript:;" class="page-link">
                    <i class="la la-angle-right"></i>
                </a>
            </li>
            <li class="paginate_button page-item last" id="m_table_1_last">
                <a href="javascript:;" class="page-link">
                    <i class="la la-angle-double-right"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="nav nav-pills nav-pills--brand m-nav-pills--align-right 
    m-nav-pills--btn-pill m-nav-pills--btn-sm paginate-getother-css" style="display: none">
    <a class="nav-link m-tabs__link active" href="javascript:;" >
        换一批
    </a>
</div>