<!DOCTYPE html>
<html lang="en">
<!-- begin::Head -->
<head>
    <meta charset="utf-8" />
    <title>
        无限手套
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />

    <meta name="description" content="Scrollable examples">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="/static/assets/amazing/amazing.css" type="text/css" charset="utf-8" />
    <style>
      html {
        overflow: hidden;
      }
    </style>
    <link rel="shortcut icon" href="/static/assets/demo/default/media/img/logo/favicon.ico" />
</head>

<body class="venus">
  <div id="starfield">
  </div>

  <ul id="planets">
    <li id="mercury" class="planet" style="transition-duration: 0.5s; transform: translateX(100px) translateY(-32.5px) scale(0.8) rotate(0deg);">
      <div class="clipmask">
        <img src="/static/assets/amazing/img/taitan.jpg" alt="泰坦星" style="width:460px;margin-top:60px;" />
      </div>
    </li>
  </ul>
  <div id="gui" class="visible">
    <div id="info">
      <span class="carto">Bonus Scene</span>
    </div>
    <section class="content" id="venus-info">
      <article class="window">
        <div class="reflect">
          <!-- <h1 class="bebas">无限手套</h1> -->
          <div style="float:left;margin-right:15px;margin-top:25px;"><img src="/static/assets/amazing/img/wxst.png" style="width:90px;" /></div>
          <p>无限手套，出现在漫威漫画和漫威电影宇宙中，在集齐了六颗无限宝石后，灭霸按照力量、时间、空间、灵魂、现实和心灵的顺序将它们镶嵌在了无限手套上，以此轻松灭掉了宇宙中50%的生命。理论上，拥有手套的人可以说是全能的存在。——百度百科</p>
        </div>
      </article>
      <ul id="venus-atmosphere" class="bebas">
        <li>
          <span style="width:400px;">物产名称：无限手套(Infinity Gauntlet)</span>
          <span style="width:260px;">物产分类：货物之属</span>
        </li>
        <li>
          <span style="width:400px;">物产产地：矮人星</span>
          <span style="width:260px;">来源古籍：Marvel Comics</span>
        </li>
        <li><span>相关人物：灭霸 浩克 死侍 黑豹 美国队长 钢铁侠 星云 奥创 神奇博士 ……</span></li>
        <li style="width:100%">
          <span style="margin-right:35px;">后记：团队为什么起这个名儿？</span>
            <br/>
            1、致敬漫威十年（2008-2018）。
            <br/>
            2、尤瓦尔·赫拉利在《未来简史》中提出一个观点，在未来人工智能等技术的发展会造成巨大的信息不对称，掌握这些技术的少部分人会成为智神，而其他大部分人则沦为无用阶层。我们的疑问是，届时是否会出现“无限手套”这样的工具被某些“主宰”用来重新平衡这个星球的资源，从而建立新的万物秩序呢？这感觉上有些不可思议或是危言耸听，但是值得我们每个人深思……
        </li>
      </ul>
    </section>
  </div>
</body>
</html>