<!--弹出层-->
<div class="modal fade" id="m_modal_1_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" 
        aria-hidden="true" style="display: none;text-align:center;">
    <div class="modal-dialog" role="document" style="width:100%;max-width:100%;margin-right:100px;">
        <div class="modal-content" style="width:90%;margin-left:auto;margin-right:auto;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    {{ name }}-时空展现
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        ×
                    </span>
                </button>
            </div>
            <div class="modal-body" style="padding-top:5px;">
                <div class="row">
                    <div class="col-lg-6 banner_border">
                        <div id="yn_map_detail" style="width:100%;height:400px"></div>
                    </div>
                    <div class="col-lg-6 banner_border">
                        <div class="m-portlet  m-portlet--full-height ">
                            <div class="m-portlet__body" id="wc_detail_body_id">
                                <div class="time-btn time-play"></div>
                                <div id="m-scrollable_id" class="m-scrollable mCustomScrollbar _mCS_5 mCS-autoHide _mCS_4" style="overflow: visible; height: 380px; max-height: 380px; position: relative;">
                                    <!--Begin::Timeline  -->
                                    <div class="m-timeline-2">
                                        <div id="wc_name_details" class="m-timeline-2__items  m--padding-top-25 m--padding-bottom-30">
                                            
                                        </div>
                                    </div>
                                <!--End::Timeline  -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>