<!DOCTYPE html>
<html lang="en">
<!-- begin::Head -->

<head>
    <meta charset="utf-8" />
    <title>
        古云南物语
    </title>
    <meta name="description" content="Scrollable examples">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--end::Web font -->
    <!--begin::Base Styles -->
    <link href="/static/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/demo/default/base/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--自定义css文件-->
    <link href="/static/css/common.css" rel="stylesheet" type="text/css" />
    <!--end::Base Styles -->
    <link rel="shortcut icon" href="/static/assets/demo/default/media/img/logo/favicon.ico" />
</head>
<!-- end::Head -->
<!-- end::Body -->

<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page">
        <!-- BEGIN: Header -->
        {% include '/frame/header.html' %}
        <!-- END: Header -->
        <!-- begin::Body -->
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
            <div class="m-grid__item m-grid__item--fluid m-wrapper">
                <div class="m-content">
                    <div class="row">
                        <div class="col-lg-7">
                            <!--begin::Portlet-->
                            <div class="m-portlet">
                                <div class="m-portlet__body">
                                    <div id="yn_map" style="width:630px;height:650px"></div>
                                </div>
                            </div>
                            <!--end::Portlet-->
                        </div>

                        <div class="col-lg-5">
                            <!--begin::Portlet-->
                            <div class="m-portlet">
                                <div class="m-portlet__body">

                                </div>
                            </div>
                            <!--end::Portlet-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end:: Body -->
        <!-- begin::Footer -->
        {% include '/frame/footer.html' %}
        <!-- end::Footer -->
    </div>
    <!-- end:: Page -->
    <!-- start:plugins -->
    {% include '/frame/plugins.html' %}
    <!-- end:plugins -->
    <!--begin::Base Scripts -->
    <script src="/static/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="/static/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
    <script src="/static/assets/demo/default/base/scripts.bundle.js" type="text/javascript"></script>
    <!--end::Base Scripts -->
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/AreaRestriction/1.2/src/AreaRestriction_min.js"></script>
    <!-- <script src="/static/js/BMap.js"></script> -->
    <script src="/static/js/detail.js" type="text/javascript"></script>
</body>
<!-- end::Body -->

</html>